services:
  - type: web
    name: projeto-automatizacao-documentacao
    runtime: python312
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app
    envVars:
      - key: FLASK_ENV
        value: production
      - key: PYTHON_VERSION
        value: 3.12
