<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automatização de Documentação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="welcome-section">
            <h1>Bem-vindo à Automatização de Documentação</h1>
            <p>Aplicação criada para facilitar a geração de documentos a partir de formulários dinâmicos.</p>
            <a href="{{ url_for('upload') }}" class="btn btn-primary">Relatório de Viagem</a>
        </div>
    </div>
</body>
</html>
